# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Production
/build
/dist

# Miscellaneous
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea/
.vscode/
*.log
*.tgz
.npm/